.snakemake/
00_RawData
01_Reference
02_Container/cellranger.sif
02_Container/mambaforge:23.1.0-1.sif
05_Output
.vscode/
.bash_history/
.cache/
.conda/
.config/
.java/
.local/
.singularity/
snakemake_virtenv/
test
S004647_to_S004650_unoptimized_ref/
S004647_to_S004650/
__pycache__
.netrc
global_report.html
run_slurm_sims.sh
run_slurm.sh
run-slurm_sims_gpu.sh
processing_multiplex.Rmd_all
